.dart_tool/flutter_build/e7d9ea87f9603f213b4906d2eeecba3d/gen_dart_plugin_registrant.stamp
.dart_tool/flutter_build/e7d9ea87f9603f213b4906d2eeecba3d/debug_ios_bundle_flutter_assets.stamp
*.stamp
.dart_tool/flutter_build/e7d9ea87f9603f213b4906d2eeecba3d/App.framework/App
.dart_tool/flutter_build/e7d9ea87f9603f213b4906d2eeecba3d/.filecache
.dart_tool/flutter_build/e7d9ea87f9603f213b4906d2eeecba3d/app.dill
.dart_tool/flutter_build/e7d9ea87f9603f213b4906d2eeecba3d/flutter_assets.d
.dart_tool/flutter_build/e7d9ea87f9603f213b4906d2eeecba3d/kernel_snapshot.d
.dart_tool/flutter_build/e7d9ea87f9603f213b4906d2eeecba3d/outputs.json
.dart_tool/package_config.json
.dart_tool/package_config_subset
build/ios/Debug-iphonesimulator/Runner.swiftmodule/Project/arm64-apple-ios-simulator.swiftsourceinfo
build/ios/Debug-iphonesimulator/Runner.swiftmodule/arm64-apple-ios-simulator.swiftmodule
build/ios/Debug-iphonesimulator/.last_build_id
build/ios/Debug-iphonesimulator/Runner.app/_CodeSignature/CodeResources
build/ios/Debug-iphonesimulator/Runner.app/Runner
build/ios/Debug-iphonesimulator/Runner.app/Frameworks/App.framework/App
build/ios/Debug-iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/kernel_blob.bin
build/ios/Debug-iphonesimulator/App.framework/_CodeSignature/CodeResources
build/ios/Debug-iphonesimulator/App.framework/flutter_assets/kernel_blob.bin
build/ios/Debug-iphonesimulator/App.framework/App
build/ios/Debug-iphonesimulator/Runner.app/Frameworks/App.framework/_CodeSignature/CodeResources
build/ios/iphonesimulator/Runner.app/Frameworks/App.framework/_CodeSignature/CodeResources
build/ios/iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/kernel_blob.bin
build/ios/iphonesimulator/Runner.app/Frameworks/App.framework/App
build/ios/iphonesimulator/Runner.app/_CodeSignature/CodeResources
build/ios/iphonesimulator/Runner.app/Runner
build/c075001b96339384a97db4862b8ab8db.cache.dill.track.dill
